# Rendered by .github/workflows/release.yml and pushed to
# devops247-online/homebrew-tap as Formula/shellclear.rb.
class Shellclear < Formula
  desc "Find secrets in shell history and remove them without breaking the file"
  homepage "https://github.com/devops247-online/shellclear"
  url "@URL@"
  sha256 "@SHA256@"
  license "Apache-2.0"
  head "https://github.com/devops247-online/shellclear.git", branch: "main"

  depends_on "go" => :build

  def install
    ldflags = "-s -w -X main.version=#{version} -X main.commit=homebrew"
    system "go", "build", *std_go_args(ldflags:), "./cmd/shellclear"
  end

  def caveats
    <<~EOS
      To get a reminder when your history contains secrets, add this line to
      ~/.zshrc, ~/.bashrc or ~/.config/fish/config.fish:
        shellclear motd
    EOS
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/shellclear --version")

    (testpath/"history").write ": 1700000000:0;export GITHUB_TOKEN=ghp_#{"a" * 36}\n"
    output = shell_output("#{bin}/shellclear --no-color find --file #{testpath}/history --shell zsh", 1)
    assert_match "github_env_token", output
    refute_match "a" * 36, output
  end
end
